@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: lightgray;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section.normal{
    background-color: white;
}

section.imagem{
    background-color: rgb(59, 59, 59);
    color: white;    
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.548);
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.349);
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 35px;
    font-size: 3.3vh;
}

section p {
    padding-bottom: 2em;
}

section#img1{
    background-image: url(../imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

section#img2{
    background-image: url(../imagens/background002.jpg);
}









footer{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}